{% extends "admin/change_form.html" %}
{% load i18n %}
{% load check_perm %}
{% block object-tools-items %}
    {{ block.super }}
    {% if user|has_impersonate_perm or user.is_superuser %}
      {% if opts.model_name == "user" %}
        <li><a id="impersonate_user" href="#"><i class="icon-user icon-alpha75"></i>{% trans "Log in as user" %}</a></li>
      {% endif %}

    {% else %}
    {% endif %}

{% endblock %}

{% block footer %}
{{ block.super }}
<script>
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  django.jQuery(function() {
    django.jQuery('#impersonate_user').click(function() {
      setCookie("LOGIN_AS",{{ object_id }})
      window.location.href="/"
    });
  });
</script>
{% endblock %}
